@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent transparent transparent;
  animation: rotate 0.5s linear infinite;
}